.tabela1 {
  width: 100%;
  border-collapse: collapse;
}

.tabela1 thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

.tabela1 tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.tabela1 tbody tr:hover {
  background-color: rgb(174, 179, 187);
}
